<%- include("partials/header"); -%>


<div class="game-page">
    <h2 class="game-title"><%= title %> </h2>
    <h3 class="game-age">Age: <%= age %> </h3>
    <p class="game-content"> <%= content %> </p>
        
</div>


<%- include("partials/footer"); -%>
